body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f9fc;
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1, h2 {
		font-weight: 300;
	}

	.results {
		color: #7a92a5;
		font-size: 14px;
		margin: 12px 5px;
	}

	header {
		width: 1000px;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		border: 1px solid #fff;
		padding: 10px 10px;
		position: relative;

		input {
			width: 980px;
			padding: 4px;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	.orders {
		margin: 0;
		padding: 0;

		.orderCard {
			position: relative;
			width: 980px;
			border-radius: 8px;
			background-color: white;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin: 0 -1px 14px -1px;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;

			&:hover {
				box-shadow: 0 2px 6px 1px #a5a5a5;
			}
			
			.generalData {
				padding-top: 6px;
				display: inline-block;
				width: 45%;
			}

			.fulfillmentData {
				display: inline-block;
				vertical-align: top;
				width: 25%;
			}

			.paymentData {
				display: inline-block;
				text-align: end;
				width: 30%;
			}
			.items-In {
				padding-top: 6px;
				display: inline-block;
				width: 45%;
			}

		}
	}

///sorting clases
	.arrow {
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
	  }
	  .up {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	  }
	  .down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	  }

	  .myButton {
		box-shadow: 3px 4px 0px 0px #1564ad;
		background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
		background-color:#79bbff;
		border-radius:10px;
		border:1px solid #337bc4;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		font-weight:bold;
		padding:4px 16px;
		text-decoration:none;
		text-shadow:0px 1px 0px #528ecc;
	}
	.myButton:hover {
		background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
		background-color:#378de5;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}


	h4 {
		font-size: 14px;
		font-weight: 300;
		color: #7a92a5;
		margin: 4px 0;
	}

	h5 {
		font-size: 12px;
		font-weight: 300;
		color: #7a92a5;
		margin: 0;
	}

	h6 {
		font-size: 10px;
		font-weight: 400;
		color: #7a92a5;
		margin: 0;
	}

	img {
		margin-top: 4px;
	}


	a {
		display: block;
		cursor: pointer;
		color: #3899ec;
		font-weight: 500;
		font-size: 12px;
	}
	#btn {
		background: none!important;
		border: none;
		padding: 0!important;
		font-family: arial, sans-serif;
		text-decoration: underline;
		display: block;
		cursor: pointer;
		color: #3899ec;
		font-weight: 500;
		font-size: 12px;
	}  
}
